@page "/chequeWriter"
@using System.ComponentModel.DataAnnotations;

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Cheque Writer</h1>
        <p class="lead">Enter the number amount you want converted to words. The number input must be between @MinChequeNumber and @MaxChequeNumber.</p>

        <EditForm Model="@inputModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="container-fluid">
                <InputNumber @bind-Value="inputModel.Number"  />
                <br />

                <p></p>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br />

            </div>

        </EditForm>

        <br />
        <span style="color:blueviolet; font-size:larger"> @ChequeNumber</span>
        <br />
        <span style="color: blueviolet; font-size:larger"> @ChequeNumberWords</span>

    </div>

@code {
    private Inputmodel inputModel = new Inputmodel();


    private void HandleValidSubmit()
    {
        ChequeNumber = inputModel.Number;
        ChequeNumberToWords();
    }

    public class Inputmodel
    {

        [Required]
        [Range(0.01, 999999.99, ErrorMessage = "Input number is invalid, the allowable range is between .01 and 999999.99")]
        public double Number { get; set; }

    }


}

<style>
    /* Removes the number arrow spinner from input box's*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
